:host {
  --content-padding: 10px;
}
header {
  display: block;
  height: 60px;
  /*padding: var(--content-padding);*/
  box-shadow: 0px 5px 25px var(--shadow-color);
}
.content {
  padding: var(--content-padding);
}

.example-spacer {
  display: flex;
  margin-left: auto;
  margin-right: 10;
}
.menu-fontsize {
  font-size: 18px;
}

.textbox {
  margin-left: 30px;
  width: 50%;
  height: 65%;
  flex-shrink: 0;

  border-radius: 10px;
  background: #fff;
}

.textbox-input {
  border: none;
  outline: none;
  margin-left: 10px;
  margin-right: 10px;
  width: 95%;
  height: 70%;
}

.example-container {
  width: auto;
  height: 100%;
}

.example-sidenav {
  padding: 20px;
  background: var(--gray400, #8c9294);
}
.sidenav {
  display: flex;
  flex-flow: column;
}

.sidenav-menu {
  padding: 5px;
}

.toolbar {
  background: var(--gray400, #8c9294);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

main {
  height: calc(100% - 70px);
}
